@model ShopHere.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<style>
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }


    .errMsg {
        color: red;
        display: none;
    }
</style>

<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Reset Password
                    </h2>
                </div><!-- /.title-section -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->

        <div>
            <div class="alert alert-danger" role="alert" style="display:none;">
                Please provide valid details...
            </div>

            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "changePasswordForm", @autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label required" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        <span id="OldPasswordErrMsg" class="errMsg"></span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label required" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        <span id="NewPasswordErrMsg" class="errMsg"></span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label required" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        <span id="ConfirmPasswordErrMsg" class="errMsg"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Change password" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>
    <hr>
</section>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

<script>
    var isvalid = true;

    $(document).ready(function () {
        debugger;
        document.getElementById("changePasswordForm").reset();
    });

    $("#changePasswordForm").bind("submit", function (e) {

        var validated = true;

        var OldPassword = $("#OldPassword").val();
        var NewPassword = $("#NewPassword").val();
        var ConfirmPassword = $("#ConfirmPassword").val();

        if (OldPassword == null || OldPassword == "" || typeof OldPassword == undefined) {
            $("#OldPasswordErrMsg").text("Please enter old password.");
            $("#OldPasswordErrMsg").show();
            $("#OldPassword").css("border-color", "red");
            validated = false;
        }
        if (NewPassword == null || NewPassword == "" || typeof NewPassword == undefined) {
            $("#NewPasswordErrMsg").text("Please enter new password.");
            $("#NewPasswordErrMsg").show();
            $("#NewPassword").css("border-color", "red");
            validated = false;
        }
        if (ConfirmPassword == null || ConfirmPassword == "" || typeof ConfirmPassword == undefined) {
            $("#ConfirmPasswordErrMsg").text("Please enter confirm password.");
            $("#ConfirmPasswordErrMsg").show();
            $("#ConfirmPassword").css("border-color", "red");
            validated = false;
        }


        if (ConfirmPassword != NewPassword) {
            $("#ConfirmPasswordErrMsg").text("Confirm pasword didn't match with password.");
            $("#ConfirmPasswordErrMsg").show();
            $("#ConfirmPassword").css("border-color", "red");
            validated = false;
        }

        if (validated == true && isvalid == true) {
            $(".alert").alert('close')
        }

        else {
            $(".alert").alert();
            e.preventDefault();
        }

        return validated;
    });

    $("#OldPassword").keyup(function () {

        var OldPassword = $("#OldPassword").val();

        if (OldPassword == null || OldPassword == "" || typeof OldPassword == undefined) {
            $("#OldPasswordErrMsg").text("Please enter old password.");
            $("#OldPasswordErrMsg").show();
            $("#OldPassword").css("border-color", "red");
            isvalid = false;
        }

        else {
            $("#OldPasswordErrMsg").hide();
            $("#OldPassword").css("border-color", "#c5c5c5");
            isvalid = true;
        }

        return isvalid;
    });


    $("#NewPassword").keyup(function () {

        var NewPassword = $("#NewPassword").val();

        if (NewPassword == null || NewPassword == "" || typeof NewPassword == undefined) {
            $("#NewPasswordErrMsg").text("Please enter new password.");
            $("#NewPasswordErrMsg").show();
            $("#NewPassword").css("border-color", "red");
            isvalid = false;
        }

        else {
            $("#NewPasswordErrMsg").hide();
            $("#NewPassword").css("border-color", "#c5c5c5");
            isvalid = true;
        }

        return isvalid;
    });

    $("#ConfirmPassword").keyup(function () {

        var ConfirmPassword = $("#ConfirmPassword").val();
        var NewPassword = $("#NewPassword").val();

        if (ConfirmPassword == null || ConfirmPassword == "" || typeof ConfirmPassword == undefined) {
            $("#ConfirmPasswordErrMsg").text("Please enter confirm password.");
            $("#ConfirmPasswordErrMsg").show();
            $("#ConfirmPassword").css("border-color", "red");
            isvalid = false;
        }

        else if (ConfirmPassword != NewPassword) {
            $("#ConfirmPasswordErrMsg").text("Confirm pasword didn't match with new password.");
            $("#ConfirmPasswordErrMsg").show();
            $("#ConfirmPassword").css("border-color", "red");
            isvalid = false;
        }

        else {
            $("#ConfirmPasswordErrMsg").hide();
            $("#ConfirmPassword").css("border-color", "#c5c5c5");
            isvalid = true;
        }

        return isvalid;
    });
</script>